/* Coolors Exported Palette - coolors.co/72ddef-102123-fffeff-ddf6fa-509ba8 */

/* HSL */
$color1: hsla(189%, 80%, 69%, 1);
$color2: hsla(186%, 37%, 10%, 1);
$color3: hsla(300%, 100%, 100%, 1);
$color4: hsla(188%, 74%, 92%, 1);
$color5: hsla(189%, 35%, 49%, 1);

/* RGB */
$color1: rgba(114, 221, 239, 1);
$color2: rgba(16, 33, 35, 1);
$color3: rgba(255, 254, 255, 1);
$color4: rgba(221, 246, 250, 1);
$color5: rgba(80, 155, 168, 1);